<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutAlign="center center">

    <div class="margin-left" fxFlex="40" fxFlexOffset="20px" fxFlexAlign.gt-lg="center">
        <mat-icon aria-hidden="false" class="color icon" appareance="fill">settings</mat-icon>
        <p class="color mat-h1">Exchage rate calculator</p>
        <p class="mat-h3">Choose the currency and the amounts to get the exchange rate</p>
    </div>

    <div class="padre" fxFlex="60" fxLayout="row" fxLayoutAligmnet="space-between center">

        <form [formGroup]="forma">

            <div fxLayout="row" fxLayoutGap="90px">
                <mat-form-field class="select" appearance="fill" floatLabel="always">
                    <mat-label>Currency</mat-label>
                    <mat-select formControlName="currency" (selectionChange)="conversion()">
                        <mat-option *ngFor="let currency of currencies" [value]="currency">
                            {{ currency }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="" appearance="fill" floatLabel="always">
                    <mat-label>Amount</mat-label>
                    <input matInput type="number" value="123" placeholder="Ex. 12" formControlName="amount" min="0" (keyup)="conversion()" (click)="conversion()">
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutGap="60px" class="estilo">
                <button mat-raised-button (click)="swap(  )" (click)="conversion()">Swap</button>
                <span class="color" *ngIf="forma.value.amount && forma.value.amount2"> {{ forma.value.amount + ' ' +  forma.value.currency + " = " + forma.value.amount2 + ' ' + forma.value.currency2 }} </span>
            </div>

            <div fxLayout="row" fxLayoutGap="90px">
                <mat-form-field class="select" appearance="fill" floatLabel="always">
                    <mat-label>Currency</mat-label>
                    <mat-select formControlName="currency2" (selectionChange)="conversion()">
                        <mat-option *ngFor="let currency of currencies" [value]="currency">
                            {{ currency }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill" floatLabel="always">
                    <mat-label>Exchange</mat-label>
                    <input matInput formControlName="amount2" readonly>
                </mat-form-field>
            </div>

        </form>


    </div>
</div>